<h3>{{TemplateTitleEN}}</h3>

<div class ="row">
	<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
		{{errorMessage}}
	</div>
</div>

<div class="col-md-12">
	<p>
		<button class="btn btn-default" ng-click="openClose()">Expand / Collapse all</button>
	</p>
	<accordion close-others="false">
		<accordion-group heading="Results from {{course.CourseID}} {{course.CourseNameEN}} for {{course.Semester}}" is-open="isRootOpen" ng-repeat="course in Courses">
			<accordion close-others="false">
				<accordion-group heading="{{question.TextEN}} {{question.TeacherName}}" is-open="isOpen" ng-repeat="question in course.Questions">
					<ul ng-if="question.TextResults !== null">
						<li ng-repeat="text in question.TextResults track by $index">{{text}}</li>
					</ul>
					<div class="row">
						<div class="col-md-6" ng-if="question.OptionsResults !== null">
							<canvas class="chart chart-bar" data="question.data" labels="question.labels"></canvas> 
						</div>
					</div>
				</accordion-group>
			</accordion>
		</accordion-group>
	</accordion>
</div>