<h3>{{TemplateTitleEN}}</h3>

<div>
	<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
		{{errorMessage}}
	</div>
</div>

<div>
	<button class="btn btn-default" ng-click="openClose()">Expand / Collapse all</button>
	<div ng-repeat="course in courses" class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Results from {{course.id}} {{course.nameEN}} for {{course.semester}}</h2>
		</div>
		<div class="panel-body">
			<accordion close-others="false">
				<accordion-group ng-repeat="question in course.questions" heading="{{question.TextEN}}" is-open="isOpen">
					<display-question ng-model="question"></display-question>
				</accordion-group>
			</accordion>

			<div ng-repeat="teacher in course.teachers" class="panel panel-default">
				<div class="panel-heading">
					<!--img src="{{teacher.imageURL}}" alt="Image of {{teacher.name}}"-->
					<h3 class="panel-title">Results for {{teacher.name}} ({{teacher.email}})</h3>
				</div>
				<div class="panel-body">
					<accordion close-others="false">
						<accordion-group ng-repeat="question in teacher.questions" heading="{{question.TextEN}}" is-open="isOpen">
							<display-question ng-model="question"></display-question>
						</accordion-group>
					</accordion>
				</div>
			</div>
		</div>
	</div>
</div>