
<div class ="row">
	<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
		{{errorMessage}}
	</div>
</div>

<div class="row">
	<h3>Evaluation templates</h3>

	<div class="col-md-8">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Template Name</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="templ in templates">
					<td><a href="#/admin/template/{{templ.ID}}">{{templ.TitleEN}}</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<a href="#/admin/template" class="btn btn-default">Create new template</a>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<h3>Evaluations</h3>

	<div class="col-md-8">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Evaluation Name</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="eval in evaluations">
					<td><a href="admin/evaluation">{{eval.TemplateTitleEN}}</a></td>
					<td>{{eval.StartDate | date:'medium'}}</td>
					<td>{{eval.EndDate | date:'medium'}}</td>
					<td>{{eval.Status}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">Create new evaluation</div>
			<div class="panel-body">
				<div class="alert alert-danger" ng-cloak ng-show="evalErrorMessage != ''">
					{{evalErrorMessage}}
				</div>
				<div class="form-group">
					<h5>Choose template</h5>
					<select ng-model="templateID" ng-options="template.ID as template.TitleEN for template in templates" class="form-control"></select>
					<h5>Choose start date</h5>
				    <div class="row">
				        <div class="col-md-12">
				            <p class="input-group">
				              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="StartDate" is-open="openedSd" min-date="minDate" ng-required="true" close-text="Close" />
				              <span class="input-group-btn">
				                <button type="button" class="btn btn-default" ng-click="openSd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				              </span>
				            </p>
				        </div>
				    </div>
				    <h5>Choose end date</h5>
				    <div class="row">
				        <div class="col-md-12">
				            <p class="input-group">
				              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="EndDate" is-open="openedEd" min-date="minDate" ng-required="true" close-text="Close" />
				              <span class="input-group-btn">
				                <button type="button" class="btn btn-default" ng-click="openEd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				              </span>
				            </p>
				        </div>
				    </div>
					<button type="button" class="btn btn-default" ng-click="createEvaluation()">Create</button>
				</div>
			</div>
		</div>
	</div>
</div>
