<form name="form" class="css-form form-horizontal" novalidate>
	<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
		{{errorMessage}}
	</div>
	<div class="form-group has-feedback" ng-class="{'has-error': (form.$submitted || form.titleEN.$touched) && form.titleEN.$error.required}">
		<label for="titleEN" class="control-label col-sm-3">Title</label>
		 <div class="col-sm-9">
			<input type="text" class="form-control" id="titleEN" name="titleEN" ng-model="TitleEN" required>
			<span ng-show="(form.$submitted || form.titleEN.$touched) && form.titleEN.$error.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
		</div>
	</div>
	<div class="form-group has-feedback" ng-class="{'has-error': (form.$submitted || form.title.$touched) && form.title.$error.required}">
		<label for="title" class="control-label col-sm-3">Native title</label>
		 <div class="col-sm-9">
			<input type="text" class="form-control" id="title" name="title" ng-model="Title" required>
			<span ng-show="(form.$submitted || form.title.$touched) && form.title.$error.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
		</div>
	</div>
	<div class="form-group has-feedback" ng-class="{'has-error': (form.$submitted || form.introTextEN.$touched) && form.introTextEN.$error.required}">
		<label for="introTextEN" class="control-label col-sm-3">Introduction</label>
		 <div class="col-sm-9">
			<input type="text" class="form-control" id="introTextEN" name="introTextEN" ng-model="IntroTextEN" required>
			<span ng-show="(form.$submitted || form.introTextEN.$touched) && form.introTextEN.$error.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
		</div>
	</div>
	<div class="form-group has-feedback" ng-class="{'has-error': (form.$submitted || form.introText.$touched) && form.introText.$error.required}">
		<label for="introText" class="control-label col-sm-3">Native introduction</label>
		 <div class="col-sm-9">
			<input type="text" class="form-control" id="introText" name="introText" ng-model="IntroText" required>
			<span ng-show="(form.$submitted || form.introText.$touched) && form.introText.$error.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h2 class="panel-title">Course questions</h2>
		</div>
		<ol class="list-header">
			<li ng-repeat="(key, item) in CourseQuestions" class="question_{{item.Type}}">
				<ng-form name="cQuestions">
					<div class="form-group has-feedback" ng-class="{'has-error': (form.$submitted || cQuestions.cTextEN.$touched) && cQuestions.cTextEN.$error.required}">
						<label for="cQuestionEN{{key}}" class="control-label col-sm-3">Question</label>
						 <div class="col-sm-9">
							<input type="text" class="form-control" id="cQuestionEN{{key}}" name="cTextEN" ng-model="item.TextEN" required>
							<span ng-show="(form.$submitted || cQuestions.cTextEN.$touched) && cQuestions.cTextEN.$error.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</div>
					<div class="form-group has-feedback" ng-class="{'has-error': (form.$submitted || cQuestions.cText.$touched) && cQuestions.cText.$error.required}">
						<label for="cQuestion{{key}}" class="control-label col-sm-3">Native question</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="cQuestion{{key}}" name="cText" ng-model="item.Text" required>
							<span ng-show="(form.$submitted || cQuestions.cText.$touched) && cQuestions.cText.$error.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</div>

					<ol ng-if="item.Type !== 'text'" class="list-answers">
						<li ng-repeat="(aKey, answer) in item.Answers">
							<ng-form name="cAnswers">
								<div class="form-group has-feedback" ng-class="{'has-error': (form.$submitted || cAnswers.answerEN.$touched) && cAnswers.answerEN.$error.required}">
									<label for="cAnswerEN{{aKey}}" class="control-label col-sm-3">Answer</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="cAnswerEN{{aKey}}" name="answerEN" ng-model="answer.TextEN" required>
										<span ng-show="(form.$submitted || cAnswers.answerEN.$touched) && cAnswers.answerEN.$error.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
									</div>
								</div>
								<div class="form-group has-feedback" ng-class="{'has-error': (form.$submitted || cAnswers.answer.$touched) && cAnswers.answer.$error.required}">
									<label for="cAnswer{{aKey}}" class="control-label col-sm-3">Native answer</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="cAnswer{{aKey}}" name="answer" ng-model="answer.Text" required>
										<span ng-show="(form.$submitted || cAnswers.answer.$touched) && cAnswers.answer.$error.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
									</div>
								</div>
								<div class="delete-button" ng-click="removeCourseQuestionAnswer(key, aKey)">&#57364;</button>
							</ng-form>
						</li>
					</ol>

					<div class="row">
						<div class="col-sm-offset-3 col-sm-9">
						<button type="button" class="btn btn-primary add-button" ng-if="item.Type !== 'text'" ng-click="addCourseQuestionAnswer(key)">Add answer</button>
						<button type="button" class="btn btn-danger pull-right" ng-click="removeCourseQuestion(key)">Remove</button>
					</div>
					<span class="move-up" ng-click="moveCourseQuestion(key, -1)">&#57619;</span>
					<span class="move-down" ng-click="moveCourseQuestion(key, 1)">&#57620;</span>
				</ng-form>
			</li>
		</ol>
		<div class="panel-footer">
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default" ng-click="addCourseTextQuestion()"><span class="glyphicon glyphicon-font"></span>	Text question</button>
				<button type="button" class="btn btn-default" ng-click="addCourseSingleQuestion()"><span class="glyphicon glyphicon-record"></span>	Single select</button>
				<button type="button" class="btn btn-default" ng-click="addCourseMultiQuestion()"><span class="glyphicon glyphicon-check"></span> Multi select</button>
			</div>
		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h2 class="panel-title">Teacher questions</h2>
		</div>
		<ol class="list-header">
			<li ng-repeat="(key, item) in TeacherQuestions" class="question_{{item.Type}}">
				<ng-form name="tQuestions">
					<div class="form-group has-feedback" ng-class="{'has-error': (form.$submitted || tQuestions.tTextEN.$touched) && tQuestions.tTextEN.$error.required}">
						<label for="tQuestionEN{{key}}" class="control-label col-sm-3">Question</label>
						 <div class="col-sm-9">
							<input type="text" class="form-control" id="tQuestionEN{{key}}" name="tTextEN" ng-model="item.TextEN" required>
							<span ng-show="(form.$submitted || tQuestions.tTextEN.$touched) && tQuestions.tTextEN.$error.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</div>
					<div class="form-group has-feedback" ng-class="{'has-error': (form.$submitted || tQuestions.tText.$touched) && tQuestions.tText.$error.required}">
						<label for="tQuestion{{key}}" class="control-label col-sm-3">Native question</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="tQuestion{{key}}" name="tText" ng-model="item.Text" required>
							<span ng-show="(form.$submitted || tQuestions.tText.$touched) && tQuestions.tText.$error.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</div>

					<ol ng-if="item.Type !== 'text'" class="list-answers">
						<li ng-repeat="(aKey, answer) in item.Answers">
							<ng-form name="tAnswers">
								<div class="form-group has-feedback" ng-class="{'has-error': (form.$submitted || tAnswers.answerEN.$touched) && tAnswers.answerEN.$error.required}">
									<label for="tAnswerEN{{aKey}}" class="control-label col-sm-3">Answer</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="tAnswerEN{{aKey}}" name="answerEN" ng-model="answer.TextEN" required>
										<span ng-show="(form.$submitted || tAnswers.answerEN.$touched) && tAnswers.answerEN.$error.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
									</div>
								</div>
								<div class="form-group has-feedback" ng-class="{'has-error': (form.$submitted || tAnswers.answer.$touched) && tAnswers.answer.$error.required}">
									<label for="tAnswer{{aKey}}" class="control-label col-sm-3">Native answer</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="tAnswer{{aKey}}" name="answer" ng-model="answer.Text" required>
										<span ng-show="(form.$submitted || tAnswers.answer.$touched) && tAnswers.answer.$error.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
									</div>
								</div>
								<div class="delete-button" ng-click="removeTeacherQuestionAnswer(key, aKey)">&#57364;</button>
							</ng-form>
						</li>
					</ol>

					<div class="row">
						<div class="col-sm-offset-3 col-sm-9">
						<button type="button" class="btn btn-primary add-button" ng-if="item.Type !== 'text'" ng-click="addTeacherQuestionAnswer(key)">Add answer</button>
						<button type="button" class="btn btn-danger pull-right" ng-click="removeTeacherQuestion(key)">Remove</button>
					</div>
					<span class="move-up" ng-click="moveTeacherQuestion(key, -1)">&#57619;</span>
					<span class="move-down" ng-click="moveTeacherQuestion(key, 1)">&#57620;</span>
				</ng-form>
			</li>
		</ol>
		<div class="panel-footer">
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default" ng-click="addTeacherTextQuestion()"><span class="glyphicon glyphicon-font"></span> Text question</button>
				<button type="button" class="btn btn-default" ng-click="addTeacherSingleQuestion()"><span class="glyphicon glyphicon-record"></span> Single select</button>
				<button type="button" class="btn btn-default" ng-click="addTeacherMultiQuestion()"><span class="glyphicon glyphicon-check"></span> Multi select</button>
			</div>
		</div>
	</div>

	<div class="row">
		<button type="submit" class="btn btn-default" ng-click="createTemplate()">Create</button>
	</div>
</form>