
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			{{TitleEN}}
			({{Title}})
		</h3>
	</div>
	<div class="panel-body">
		<div>{{IntroTextEN}}</div>
		<div>{{IntroText}}</div>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Course questions</h3>
	</div>
	<ol class="list-header">
		<li ng-repeat="item in CourseQuestions" class="question_{{item.Type}}">
			<h5>{{item.TextEN}}</h5>
			<h5>{{item.Text}}</h5>
			<ol ng-if="item.Answers !== undefined" class="list-answers">
				<li ng-repeat="answer in item.Answers">
					<div>{{answer.TextEN}}</div>
					<div>{{answer.Text}}</div>
				</li>
			</ol>
		</li>
	</ol>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Teacher questions</h3>
	</div>
	<ol class="list-header">
		<li ng-repeat="item in TeacherQuestions" class="question_{{item.Type}}">
			<h5>{{item.TextEN}}</h5>
			<h5>{{item.Text}}</h5>
			<ol ng-if="item.Answers !== undefined" class="list-answers">
				<li ng-repeat="answer in item.Answers">
					<div>{{answer.TextEN}}</div>
					<div>{{answer.Text}}</div>
				</li>
			</ol>
		</li>
	</ol>
</div>