<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">{{ngModel.TextEN}}</h3>
	</div>
	<div class="panel-body">
		<div ng-if="ngModel.Type === 'text'">
			<textarea class="form-control" rows="5" placeholder="your answer..." ng-model="ngAnswers.Value"></textarea>
		</div>
		<div ng-if="ngModel.Type === 'single'">
			<div ng-repeat="answer in ngModel.Answers" class="btn-group">
		        <label class="btn btn-success" ng-model="ngAnswers.Value" btn-radio="{{$index + 1}}">
		        	<span ng-class="{'glyphicon glyphicon-record': ngAnswers.Value === $index + 1, 'glyphicon glyphicon-unchecked': ngAnswers.Value !== $index + 1}"></span>
		        	{{answer.TextEN}}
		        </label>
		    </div>
		</div>

		<div ng-if="ngModel.Type === 'multiple'">
			<div ng-repeat="answer in ngModel.Answers" class="checkbox">
				<label>
					<input type="checkbox" ng-false-value="0" ng-true-value="{{$index + 1}}" ng-model="ngAnswers.Value" name="qAnswers{{ngAnswers.QuestionID}}">
					{{answer.TextEN}}
				</label>
			</div>
		</div>
	</div>
</div>