<div class="container">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">Enter username and password</div>
			<div class="panel-body">

				<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
					{{errorMessage}}
				</div>

				<div class="form-group">
					<label for="username" class="control-label">Username</label>
					<input type="text" class="form-control" id="username" name="username" ng-model="username" />
					<label for="password" class="control-label">Password</label>
					<input type="password" class="form-control" id="password" name="password" ng-model="password" ng-enter="login()" />
				</div>
				<button type="button" class="btn btn-default" ng-click="login()">Enter</button>
			</div>
		</div>
	</div>
</div>